{% extends 'base_main.html' %}
{% block content %}


<div class="row rounded-4 bg-secondary p-4">
    <div class="col-8">
        <h1 class="fw-bold">{{ meal['strMeal'].title() }}</h1>

        {% for tag in meal['strTags'].split(",") %}
            <span class="badge rounded-pill text-bg-primary me-1 mb-1 py-1 px-2 ">{{ tag }}</span>
        {% endfor %}
        <div class="col-12 mt-3">
            <h5 class="fw-bold">Ingredients</h5>
            <ul class="ms-0 row">
                {% for ingredient, ingredient_measure in meal_ingredient_by_measure.items() %}
                    <li class="col-6"> {{ ingredient_measure }} {{ ingredient}}</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="col-4">
        <div class="position-relative" id="mealThumbnailContainer">
            <a class="z-3 d-none" id="mealYoutubeVideoToggle" role="button" href="#mealYoutubeVideo" data-bs-toggle="collapse">
                <i class="shadow-lg shadow position-absolute bi bi-caret-left-fill text-white fs-2" style="top: 40%; left: 85%"></i>
            </a>
            <div class="ratio ratio-1x1 position-absolute collapse z-2" id="mealYoutubeVideo">
                {% set video_id = meal['strYoutube'].split("=")[1] %}
                <iframe src="https://www.youtube.com/embed/{{ video_id }}" allowfullscreen></iframe>
            </div>
            <div id="mealThumbnail">
                <img src="{{ meal['strMealThumb'] }}" alt="" class="img-fluid rounded-4">
            </div>
        </div>
    </div>

    <div class="col-12">
        <a class="fw-bold fs-5 text-decoration-none text-dark" id="instructionToggle" data-bs-toggle="collapse" role="button" href="#instructionBody">Instructions <span class="dropdown-toggle"></span> </a>
        <ol class="show" id="instructionBody">
            {% for instruction in meal['strInstructions'].split('\r\n') %}
                <li class="mt-1 bg-transparent">{{ instruction }}</li>
            {% endfor %}
        </ol>
    </div>

</div>

{% endblock content %}