<header class="fixed-top bg-light border-bottom">
    <div class="container">
        <nav class="navbar navbar-expand-lg mt-3 mb-2">
            <a class="navbar-brand fw-bold" href="{{ url_for('home') }}">Cookhaina Directory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
                    <li class="nav-item">
                        <a 
                            {% if request.path == url_for('home') %}
                                class="nav-link active fw-bold text-primary"
                            {% else %}
                                class="nav-link" 
                            {% endif %}
                                aria-current="page" 
                                href="{{ url_for('home') }}">
                                Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a 
                        {% if request.path == url_for('about') %}
                            class="nav-link active fw-bold text-primary"
                        {% else %}
                            class="nav-link" 
                        {% endif %}
                            aria-current="page" 
                            href="{{ url_for('about') }}">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  
                        {% if request.path == url_for('search') %}
                            class="nav-link active fw-bold text-primary"
                        {% else %}
                            class="nav-link" 
                        {% endif %}
                            aria-current="page" 
                            href="{{ url_for('search') }}">
                            Search
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="dropdown-toggle fw-bold text-decoration-none text-dark" href="" data-bs-toggle="dropdown">
                                    {{ current_user.username }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a href="{{ url_for('user_favorites', username = current_user.username) }}" class="dropdown-item">Favorites</a></li>
                                    <li><a href="" class="dropdown-item">Account</a></li>
                                    <li><a href="{{ url_for('logout') }}" class="dropdown-item">Log out</a></li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a 
                            {% if request.path == url_for('login') %}
                                class="nav-link active fw-bold text-primary"
                            {% else %}
                                class="nav-link" 
                            {% endif %}
                                aria-current="page" 
                                href="{{ url_for('login') }}">
                                Log in
                            </a>
                        </li>

                        <li class="nav-item">
                            <a 
                            {% if request.path == url_for('signup') %}
                                class="nav-link active fw-bold text-primary"
                            {% else %}
                                class="nav-link" 
                            {% endif %}
                                aria-current="page" 
                                href="{{ url_for('signup') }}">
                                Sign up
                            </a>
                        </li>
                    {% endif %}

                </ul>

            </div>
        </nav>
    </div>
</header>