<header class="fixed-top bg-light border-bottom">
    <div class="container">
        <nav class="navbar navbar-expand-lg mt-3 mb-2">
            <a class="navbar-brand fw-bold" href="{{ url_for('home') }}">Cookhaina Directory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
                    <li class="nav-item">
                        <a 
                            {% if request.path == url_for('home') %}
                                class="nav-link active fw-bold text-primary"
                            {% else %}
                                class="nav-link" 
                            {% endif %}
                                aria-current="page" 
                                href="{{ url_for('home') }}">
                                Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a 
                        {% if request.path == url_for('about') %}
                            class="nav-link active fw-bold text-primary"
                        {% else %}
                            class="nav-link" 
                        {% endif %}
                            aria-current="page" 
                            href="{{ url_for('about') }}">
                            About
                    </a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="{{ url_for('search') }}">
                    <div class="input-group">
                        <span class="input-group-text bg-light border-primary border">
                            <i class="bi bi-search text-primary"></i>
                        </span>
                        <input type="text" class="form-control bg-light border border-primary" size="30" placeholder="Search by name or main ingredient" name="keyword">
                        <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</header>