<header>
    <!-- <div style="height: 5em"></div> -->
    <div class="mt-5">
        <h1 class="text-center fw-bold mb-4">Cookhaina Directory</h1>

        <form action="#">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search main ingredient">
                <button class="btn btn-outline-secondary btn-sm" type="submit">Search</button>
            </div>
        </form>
    </div>
</header>