<div class="">
    <div id="carouseCategories" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for category in categories_information[0:1] %}
                <a href="{{ url_for('category', category_name = category['strCategory']) }}">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <div class="card ">
                            <img src="{{ category['strCategoryThumb'] }}" class="card-img d-block w-100" style="height: 15rem; object-fit: cover;">
                            <div class="card-img-overlay opacity-25"></div>
                            <div class="card-img-overlay d-flex align-items-center text-white">
                                <h4 class="card-title fw-bold text-white w-100 text-center ">{{ category['strCategory'] }}</h4>
                                <!-- <p class="card-text"><small>{{ category['strCategoryDescription'] }} </small></p> -->
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}

            {% for category in categories_information[1::] %}
                <a href="{{ url_for('category', category_name = category['strCategory']) }}">
                    <div class="carousel-item" data-bs-interval="3000">
                        <div class="card ">
                            <img src="{{ category['strCategoryThumb'] }}" class="card-img d-block w-100" style="height: 15rem; object-fit: cover;">
                            <div class="card-img-overlay opacity-25"></div>
                            <div class="card-img-overlay d-flex align-items-center text-white">
                                <h4 class="card-title fw-bold text-white w-100 text-center ">{{ category['strCategory'] }}</h4>
                                <!-- <p class="card-text"><small>{{ category['strCategoryDescription'] }} </small></p> -->
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
    
    
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouseCategories" data-bs-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouseCategories" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
