{% extends 'base_main.html' %}
{% block content %}
    <h4 class="fw-bold mt-3">Change account password</h4>
    <div style="height: 1rem;"></div>
    <!-- <hr> -->

    <div class="ms-3">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <h3 class="fw-bold text-primary m-0">{{ current_user.username }}</h3>
                <small class="text-body-secondary">Date created: {{ current_user.date_utc.strftime("%B %-d, %Y") }}</small>
            </div>

            <div class="mb-2">
                {{ form.current_password.label(class="form-label text-body-secondary") }}
                {% if form.current_password.errors %}
                    {{ form.current_password(class="form-control border border-danger", placeholder="Enter current password", required = False) }}
                {% elif form.current_password.validate(form = form) %}
                    {{ form.current_password(class="form-control border border-primary", placeholder="Enter current password", required = False) }}
                {% else %}
                    {{ form.current_password(class="form-control", placeholder="Enter current password", required = False) }}
                {% endif %}
            </div>

            <div class="mb-2">
                {{ form.new_password.label(class="form-label text-body-secondary") }}
                {% if form.new_password.errors %}
                    {{ form.new_password(class="form-control border border-danger", placeholder="Enter new password", required = False) }}
                {% elif form.new_password.validate(form = form) %}
                    {{ form.new_password(class="form-control border border-primary", placeholder="Enter new password", required = False) }}
                {% else %}
                    {{ form.new_password(class="form-control", placeholder="Enter new password", required = False) }}
                {% endif %}
            </div>
            
            {{ form.submit(class="btn btn-primary mt-3") }}
        </form>

        <hr>
        <small>Planning to change password? <a href="" class="text-primary">Change password</a></small>
    </div>

{% endblock content %}