{% extends 'base_main.html' %}
{% block content %}

<div class="mx-2 px-1">
    <div class="row rounded-4 bg-secondary p-4">
        <div class="col-12 col-md-6 col-xl-8">
            <div class="">
                <h1 class="fw-bold me-2 ">
                    {{ meal['strMeal'].title() }}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('meal_add_to_favorite', id = meal['idMeal']) }}" class="text-decoration-none text-warning">
                        <i id="favoriteIcon" 
                        {% if meal['is_favorite'] %}
                            class="bi bi-star-fill fs-2 favorite"
                        {% else %}
                            class="bi bi-star fs-2"
                        {% endif %}
                        >
                        </i>
                    </a>
                {% endif %}
                </h1>
                
            </div>

            <script>setFavoriteIconEffects()</script>
    
            {% if meal['strTags'] and ',' in meal['strTags'] %}
                {% for tag in meal['strTags'].split(",") %}
                    <span class="badge rounded-pill text-bg-primary me-1 mb-1 py-1 px-2 ">{{ tag }}</span>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col-12 mt-3 d-none d-md-block">
                    <h5 class="fw-bold">Ingredients</h5>
                    <ul class="ms-0 row">
                        {% for ingredient, ingredient_measure in meal_ingredient_by_measure.items() %}
                        <li class="col-6 col-md-12 col-xl-6"> {{ ingredient_measure }} {{ ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3 d-block d-md-none">
            <a class="position-relative mealThumbnailContainer" href="{{ meal['strYoutube'] }}" target="_blank">
                <div class="z-3 position-absolute w-100 h-100 animate__animated d-none animate__faster mealThumbnailSeeVideoIndicator">
                    <div class="z-3 position-absolute text-decoration-none text-white text-center w-100 h-100" style="top: 30%">
                        <i class="bi bi-caret-left-fill" style="font-size: 5rem;"></i>
                        <span class="fs-6 fw-bold d-block mt-0">See video instruction</span>
                    </div>
                    <div class="position-absolute bg-dark opacity-50 w-100 h-100 rounded-4 z-2">
                    </div>
                </div>
                <!-- <div class="ratio ratio-1x1 position-absolute collapse z-2" id="mealYoutubeVideo">
                    {% set video_id = meal['strYoutube'].split("=")[1] %}
                    <iframe src="https://www.youtube.com/embed/{{ video_id }}" allowfullscreen></iframe>
                </div> -->
                <div id="mealThumbnail" class="position-relative z-1">
                    <img src="{{ meal['strMealThumb'] }}" onload="setMealThumbnailEffects()" alt="" class="img-fluid rounded-4 ">
                </div>
            </a>
        </div>

        <div class="col-12 mt-3 d-block d-md-none">
            <h5 class="fw-bold">Ingredients</h5>
            <ul class="ms-0 row">
                {% for ingredient, ingredient_measure in meal_ingredient_by_measure.items() %}
                    <li class="col-6"> {{ ingredient_measure }} {{ ingredient}}</li>
                {% endfor %}
            </ul>
        </div>
    
        <div class="col-6 col-xl-4 d-none d-md-block">
            <a class="position-relative mealThumbnailContainer" href="{{ meal['strYoutube'] }}" target="_blank">
                <div class="z-3 position-absolute w-100 h-100 animate__animated d-none animate__faster mealThumbnailSeeVideoIndicator">
                    <div class="z-3 position-absolute text-decoration-none text-white text-center w-100 h-100" style="top: 25%">
                        <i class="bi bi-caret-left-fill" style="font-size: 5rem;"></i>
                        <span class="fs-6 fw-bold d-block mt-0">See video instruction</span>
                    </div>
                    <div class="position-absolute bg-dark opacity-50 w-100 h-100 rounded-4 z-2">
                    </div>
                </div>
                <!-- <div class="ratio ratio-1x1 position-absolute collapse z-2" id="mealYoutubeVideo">
                    {% set video_id = meal['strYoutube'].split("=")[1] %}
                    <iframe src="https://www.youtube.com/embed/{{ video_id }}" allowfullscreen></iframe>
                </div> -->
                <div id="mealThumbnail" class="position-relative z-1">
                    <img src="{{ meal['strMealThumb'] }}" onload="setMealThumbnailEffects()" alt="" class="img-fluid rounded-4 ">
                </div>
            </a>
        </div>
    
        <div class="col-12">
            <a id="instructionToggle1" class="text-decoration-none text-muted d-none" href="#instructionBody" data-bs-toggle="collapse" role="button"><small>Show instruction <span class="dropdown-toggle"></span></small></a>
            <div class="collapse fade show" id="instructionBody">
                <a class="fw-bold fs-5 text-decoration-none text-dark" id="instructionToggle2" data-bs-toggle="collapse" role="button" href="#instructionBody">Instructions <i class="bi bi-caret-up-fill"></i> </a>
                <ul>
                    {% for instruction in meal['strInstructions'].split('\r\n') %}
                        {% if instruction.strip() != '' %}
                            <li class="mt-1 bg-transparent">{{ instruction }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <script>setMealInstructionsEffects()</script>
            </div>
        </div>
        
    </div>

    {% if current_user.is_authenticated %}
        <form method="POST" class="row mt-3">
            {{ form.hidden_tag() }}
            <div class="rounded-4 border d-flex align-items-center">
                {{ form.comment(class="form-control py-3 border-0 rounded-4 focus-ring", style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), 0)", placeholder="Write your comment here", autocomplete="off") }}
                <button type="submit" class="mx-3 bg-transparent border-0"><i class="bi bi-send-fill text-primary fs-5"></i></button>
            </div>
        </form>
    {% endif %}

    <div class="row mt-3">
        {% if comment_list %}
            <h4 class="fw-bold mt-4 mb-3 text-body-secondary">Comments</h4>
            <div class="col-12 mx-3">
                <div class="row g-3">
                    {% for comment in comment_list %}
                        <div class="col-12">
                            <div class="d-flex align-items-center">
                                <p class="fw-bold mb-1 text-primary me-auto">{{ comment.user.username }}</p>
                                {% if current_user == comment.user %}
                                    <div class="dropstart">
                                        <a href="#" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown"></a>
                                        <div class="dropdown-menu">
                                            <a href="{{ url_for('meal_comment_delete', id = meal['idMeal'], comment_id = comment.id) }}" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <p class="mb-1">{{ comment.comment }}</p>
                            <small class="text-primary">{{ comment.date_utc.strftime("%B %-d, %Y, %A") }}</small>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        

    </div>
</div>

{% endblock content %}