<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find recipe</title>

    {% assets "styles" %} <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
</head>

<body>
    <div class="container">
        {% include '/layout/default/header.html' %}
        <div style="height: 7em;"></div>
        
        {% block content %} {% endblock content %}
    </div>

    {% include '/layout/default/footer.html' %}
    {% assets "scripts" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
</body>

</html>